.form {
    background-color: #eef3fb;
    font-size: 1.15rem
}

.text1,
.email,
.textarea {
    width: 100%;
    background-color: #eef3fb;
    border: none;
    border-bottom: 1px solid #4c3776;
    padding: 5px 5px;
    font-size: 1rem
}

.btn-main {
    display: inline-block;
    border: 2px solid #fff;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none
}

.btn-main:hover {
    color: #2c4776;
    text-decoration: none;
    background-color: #fff
}

.btn-main1 {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 10px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #2c4776;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600
}

.btn-main1:hover {
    background-color: #8fc0c3;
    border: none
}

.btn {
    display: inline-block;
    border: none;
    color: #2c4776;
    text-decoration: none;
    margin: 0 0 15px 15px;
    padding: 5px
}

.btn:hover {
    text-decoration: underline;
    color: #2c4776
}

.btn-main {
    display: inline-block;
    border: 2px solid #fff;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none
}

.btn-main:hover {
    color: #2c4776;
    text-decoration: none;
    background-color: #fff
}

.btn-main1 {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 10px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #2c4776;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600
}

.btn-main1:hover {
    background-color: #8fc0c3;
    border: none
}

.btn {
    display: inline-block;
    border: none;
    color: #2c4776;
    text-decoration: none;
    margin: 0 0 15px 15px;
    padding: 5px
}

.btn:hover {
    text-decoration: underline;
    color: #2c4776
}

.section-1 {
    background-color: #eef3fb
}

.col4 {
    background-color: #2c4776
}

.h1 {
    color: #fff
}

.section-2 {
    background-color: #fff;
    text-align: left
}

.head2 {
    font-size: 3.475rem;
    font-weight: 700
}

.para2 {
    color: #2c4776;
    line-height: 2;
    font-weight: 700
}

.btn-main {
    display: inline-block;
    border: 2px solid #fff;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none
}

.btn-main:hover {
    color: #2c4776;
    text-decoration: none;
    background-color: #fff
}

.btn-main1 {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 10px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #2c4776;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600
}

.btn-main1:hover {
    background-color: #8fc0c3;
    border: none
}

.btn {
    display: inline-block;
    border: none;
    color: #2c4776;
    text-decoration: none;
    margin: 0 0 15px 15px;
    padding: 5px
}

.btn:hover {
    text-decoration: underline;
    color: #2c4776
}

.section-3 {
    background-color: #fff
}

.head3 {
    color: #2c4776;
    font-size: 3.75rem;
    letter-spacing: 1.2px;
    line-height: 1.1;
    font-weight: 600
}

.rounded-circle {
    margin-top: 20px;
    height: 75px;
    width: 75px;
    display: inline-block;
    background-color: #8fc0c3
}

.card.four {
    color: #fff;
    width: 100%;
    background-color: #8fc0c3;
    border-radius: 20px
}

.para3 {
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 400
}

.section-4 {
    background-color: #eef3fb;
    width: 100%;
    padding-top: 40px
}

.head4 {
    color: #2c4776;
    font-size: 3.75rem;
    letter-spacing: 1px;
    font-weight: 700
}

.card.dark {
    width: 100%;
    margin: 30px 30px;
    background-color: #2c4776;
    border-radius: 20px;
    text-align: left;
    color: #fff
}

.card.light {
    color: #fff;
    width: 100%;
    margin: 30px 30px;
    background-color: #8fc0c3;
    border-radius: 20px;
    text-align: left
}

.cd1 {
    color: #fff
}

.para4 {
    margin: 5px 30px 30px;
    font-weight: 300
}

.image {
    width: 100px;
    height: 100px
}

.section-5 {
    background-color: #eef3fb;
    width: 100%;
    padding-bottom: 40px
}

.img5 {
    border-radius: 30px;
    -o-object-fit: cover;
    object-fit: cover
}

.para6 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.25rem
}

.head53 {
    font-size: 4rem;
    font-weight: 600;
    color: #8fc0c3
}

.section-6 {
    padding-bottom: 40px
}

.head-6 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 15px
}

.ul {
    margin-left: 20px;
    margin-bottom: 20px
}

.img6 {
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover
}

.btn-main {
    display: inline-block;
    border: 2px solid #fff;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none
}

.btn-main:hover {
    color: #2c4776;
    text-decoration: none;
    background-color: #fff
}

.btn-main1 {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 10px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #2c4776;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600
}

.btn-main1:hover {
    background-color: #8fc0c3;
    border: none
}

.btn {
    display: inline-block;
    border: none;
    color: #2c4776;
    text-decoration: none;
    margin: 0 0 15px 15px;
    padding: 5px
}

.btn:hover {
    text-decoration: underline;
    color: #2c4776
}

.section-7 {
    background-color: #eef3fb;
    width: 100%
}

.card.one {
    width: 100%;
    margin: 30px 30px;
    background-color: #8fc0c3;
    border-radius: 20px;
    text-align: left
}

.card-title {
    color: #2c4776;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 40px 20px;
    padding: 10px 10px
}

.card-text {
    color: #eef3fb;
    font-size: 2.25rem;
    line-height: 1.1;
    margin: 5px 20px;
    padding: 10px 10px
}

.btn-main {
    display: inline-block;
    border: 2px solid #fff;
    padding: 15px 70px;
    margin: 10px;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none
}

.btn-main:hover {
    color: #2c4776;
    text-decoration: none;
    background-color: #fff
}

.btn-main1 {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 8px 10px;
    margin: 10px 10px;
    border-radius: 30px;
    color: #fff;
    background-color: #2c4776;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600
}

.btn-main1:hover {
    background-color: #8fc0c3;
    border: none
}

.btn {
    display: inline-block;
    border: none;
    color: #2c4776;
    text-decoration: none;
    margin: 0 0 15px 15px;
    padding: 5px
}

.btn:hover {
    text-decoration: underline;
    color: #2c4776
}

.form {
    background-color: #eef3fb;
    font-size: 1.15rem
}

.text1,
.email,
.textarea {
    width: 100%;
    background-color: #eef3fb;
    border: none;
    border-bottom: 1px solid #4c3776;
    padding: 5px 5px;
    font-size: 1rem
}

.section-8 {
    background-color: #eef3fb
}

.head66 {
    color: #2c4776;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 30px
}

.head8 {
    color: #2c4776;
    font-size: 1.25rem;
    font-weight: 700
}

.card.card-2 {
    width: 100%;
    margin: 30px 30px 60px 30px;
    background-color: #8fc0c3;
    border-radius: 20px;
    padding: 30px 30px 30px 30px
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

section+section {
    padding-top: 40px
}

body {
    line-height: 1.6;
    font-family: "Roboto", "Arial", "sans-serif"
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0
}

h4 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0
}

h5 {
    font-weight: 200;
    font-size: 2rem;
    margin: 0
}

h6 {
    font-weight: 150;
    margin: 0
}

p {
    font-size: 1.25rem;
    line-height: 1.4
}

.cd1 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300
}