.section-4 {
    background-color: #eef3fb;
    width: 100%;
    padding-top: 40px;
}

.head4{
    color:$third-color;
    font-size: 3.75rem;
    letter-spacing: 1px;
    font-weight: 700;
}
.card {
    &.dark{
        width: 100%;
        margin: 30px 30px;
        background-color:$third-color;
        border-radius: 20px;
        text-align: left;  
        color:#fff;    
    }
    &.light{
        color:#fff;
        width: 100%;
        margin: 30px 30px;
        background-color: #8fc0c3;
        border-radius: 20px;
        text-align: left;
    }
}

.cd1{
    color:#fff;
}
.para4{
    margin: 5px 30px 30px;
    font-weight:300;
}
.image{
    width:100px;
    height:100px;
}


