@import'buttons';

.section-1{
    background-color: $first-color;
    padding: 40px 0 40px 0;
}
.col4{
    background-color: $third-color;
    
}
.img1{
    object-fit: cover;
    border-radius: 20px;
}


