.section-6{
    padding-bottom:40px;
}
.head-6{
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom:15px;
}
.ul1 {
    list-style-type: none;
}

.ul1{
    li{
        font-size: 1.25rem;
        &:before{
            content: '+';
            margin-left:1.5px;
        }
    }
}

.img6{
    border-radius: 10px;
    object-fit: cover;
}