@import'buttons';

.section-1 {
    background-color: $first-color;
    padding: 40px 0 40px 0;
}
.container-1{
    width: 100%;
    margin-bottom: 100px;
    position: relative;
}
.row-1{
    position: relative;
}
.col4{
    position: absolute;
    height:450px;
    border-radius: 20px;
    background-color: $second-color;
    left: 4%;
    bottom: 50%;
    top:30%;
}

.col6 {
    position:absolute;
    left:0;
    top: 30%;
    height:600px;
    background-color: $third-color;
    border-radius: 20px;
    text-align: left;
    
}

.head1 {
    color: #fff;
    font-size: 3.75rem;
    padding:100px 100px 20px 250px;
}

.p1 {
    font-size: 1.125rem;
    color: #d9d9d9;
    padding-bottom: 10px;
    padding:10px 100px 20px 250px;

}
.p2{
    padding:10px 100px 40px 250px;

}

a.link {
    color: #fff;
    text-decoration: underline;
    &:hover {
        color: #d9d9d9;
    }
}

.img1 {
    object-fit: cover;
    border-radius: 20px;
    position: absolute;
    left:10%;
    top:15%;
    z-index: 100;
}