.section-2 {
    background-color: #fff;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.row-2 {
    row-gap: 50px;
    justify-content: center;
}

.head2 {
    font-size: 3.475rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.para2 {
    color: #2c4776;
    line-height: 2;
    font-weight: 700;
    margin-left: 20px;
}

.class2 {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.img2 {
    width: 70px;
    height: 70px;
    background-color: $second-color;
    border-radius: 10px;
}