.section-2{
    background-color: #fff;
    text-align: left;
}
.head2{
    font-size: 3.475rem;
    font-weight: 700;
}
.para2{
    color:#2c4776;
    line-height:2;
    font-weight:700;
}
.class2{
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 20px;
    margin: 5px 5px;
}
.img2{
    background-color: $second-color;
    padding:5px;
    border-radius: 10px;
}
