@import 'buttons';
@import 'form';
.section-8{
    background-color: $first-color;
}
.head66{
    color:$third-color;
    font-size:2.25rem;
    font-weight: 700;
    margin-bottom:30px;
}

.head8{
    color:$third-color;
    font-size: 1.25rem;
    font-weight: 700;
}
.card{
        &.card-2{
            width: 100%;
            margin: 30px 30px 60px 30px;
            background-color: #8fc0c3;
            border-radius: 20px;
            padding: 30px 30px 30px 30px;
        }
 }

