.section-5{
    background-color: #eef3fb;
    width: 100%;
    padding-bottom: 40px;
}
.img5{
    border-radius:30px;
    object-fit: cover;
}
.para6{
 letter-spacing: 2px;
 font-weight: 600;
 font-size: 1.25rem;
}
.head53{
  font-size: 4rem;
  font-weight: 600;
  color:$second-color;
}