.section-6{
    padding-bottom:40px;
}
.head-6{
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom:15px;
}
.ul{
    margin-left:20px;
    margin-bottom: 20px;
}
.img6{
    border-radius: 10px;
    object-fit: cover;
}