@import 'short';
@import 'form';
@import 'buttons';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';
@import 'section7';
@import 'section8';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    + section {
        padding-top: 40px;
    }
}

body {
    line-height: 1.6;
    font-family: "Roboto", "Arial", "sans-serif";
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}

h4 {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
}

h5 {
    font-weight: 200;
    font-size: 2rem;
    margin: 0;
}

h6 {
    font-weight: 150;
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
}
.cd1{
    color:#fff;
    font-size:1.25rem;
    font-weight:300;
}

